<template>
<div class="container ">
  <h2>{{$route.params.type}}</h2>
  <div class="grid">
    <div v-for="tv in tvGenereType">
      <Movie :movie_="tv"></Movie>
    </div>
  </div>
</div>
</template>

<script>
import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'
import Movie from "@/components/Movie";

export default {
  name: "index",
  components : {Movie},
  head(){
    return {
      title : this.$route.params.type

    }
    },
  computed : mapState(['tvGenereType',]),
  created() {
    this.getGenreTvType(this.$route.params.type)
    },
  methods : {
    ...mapActions(['getGenreTvType',]),
  },
}
</script>

<style scoped>

</style>
