<template>
  <div  class="movie" >

    <div  class="movie_img">
      <img :src="'https://image.tmdb.org/t/p/w500'+movie_.poster_path"  alt="">
    </div>

    <div class="rate">
      <button>{{movie_.vote_average}}	&#9734;</button>
    </div>
    <div  v-if="visible" class="movie_title flex">
      <nuxt-link :to="'movie/'+ movie_.id">
      <h4 >{{movie_.title}}</h4>
      </nuxt-link>
      <small>{{movie_.overview}}</small>
      <div class="flex movie_desc">
        <div class="popularity">
          <small> {{movie_.popularity}}</small>
        </div>

        <div class="lan">
          <span>{{movie_.original_language}}</span>
        </div>

        <div v-if="movie_.adult" class="movie_adult">
          <span>+18</span>
        </div>

      </div>

    </div>
    <hr>
    <small>{{movie_.release_date}}</small>
  </div>
</template>

<script>
export default {
  name: "Movie",
  props : {
   movie_ : Object,
  },
  data () {
     return{
       visible : true,
     }
  },
  methods : {
    handleVisiblty(){
      this.visible = !this.visible;
    },
    removeVisiblty(){
      this.visible = false
    }
  }

}
</script>

<style scoped>
  .movie{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 05px;
    position: relative;
    cursor: pointer;
    border-bottom: 2px solid black;
    position: relative;
  }
  .movie a {
    color: white;
  }

  .movie img{
    width: 100%;
  }

  .movie_title{
    color: white;
    position: absolute;
    padding: 10px;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    display: none;
  }
  .movie_title h4 {
    font-weight: bolder;
    font-size: 2rem;
    padding-bottom: 0.3rem;
  }

  .movie_desc{
    margin-top: 2rem;
    align-self: start;
    justify-content: space-between;
  }
  .movie_desc div {
    margin-left: 8px;
    background-color: orangered;
    padding: 3px;
  }
  .movie_popularity{
    padding-top: 1rem;
    color: white;
    align-items: flex-start;
  }

  .movie small{
    font-size: 1.2rem;
    font-weight: bold;
  }
  .movie_popularity span {
    color: white;
    background-color: orangered;
    padding:  0.3rem;
    margin-left: 0.2rem;
  }
  .movie_title button{
    background-color: orangered;
    border: none;
    color: white;
    padding: 4px;
    align-self: start;
  }
  .movie_title h4,
  .movie_title a{
    color: orangered;
    text-decoration: none;
  }
  .movie:hover .movie_title{
    display: flex;
  }

  .movie .rate{
    position: absolute;
    top: 0;
    left: 0;
    background-color: orangered;
    z-index: 2;
  }
</style>
