<template>
  <div aria-label="tv_genre" class="container tv_genere flex-col">
<nuxt-link class="tvBtn" to="/">Back</nuxt-link>
    <h1>chose your genre</h1>
    <div class="tvList grid">
        <nuxt-link class="tvBtn" v-for="genere in tvGenere" :to="'tv/genere/'+genere.name" :key="genere.id">{{genere.name}}</nuxt-link>
    </div>


  </div>
</template>

<script>
import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'

export default {
  name: "index",
  computed : mapState(['tvGenere','latestTv']),
  head(){
    return{
      title : 'TV'
    }
  },
  created() {
    this.getTvGenere();
  },
  async mounted() {
    console.log(this.latestTv)
    },
  data(){
    return{
      tvList : [],
    }
  },
  methods : {
    ...mapActions(['getTvGenere','getLatestTv']),
  }
}
</script>

<style scoped>
.tvBtn{
  margin: 10px;
  color: white;
  background-color: orangered;
  text-decoration: none;
  padding: 4px;
  border-radius: 3px;
}

.tv_genere{
  padding: 1rem 0;
}

</style>
