<template>
  <div class="container flex-col searchFiled">
    <button> <nuxt-link to="/">Back</nuxt-link></button>
    <div v-if="movieData" class="searchMovie_wrapper">
      <Movie :movie_="movieData"></Movie>
    </div>
  </div>
</template>

<script>
import Movie from "@/components/Movie";


export default {
  name: "index",
  components : {Movie},
  head(){
    return{
      title : this.movieData.title
    }
  },
  data(){
    return{
      movieData : {},
    }
  },
async beforeMount() {
  let url = ` https://api.themoviedb.org/3/movie/${this.$route.params.id}?api_key=bed57bace403c25c78cbb5feeae4afd5`
  await fetch(url)
    .then((response)=>{
      return response.json();
    }).then(data =>{
      this.movieData  = data
    })

},
}
</script>

<style scoped>

.searchFiled{
  padding: 2rem 0;
}
.searchMovie_wrapper{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
