<template>
<div>
    <div class="container ">
      <button class="moviesTop_back_btn"><nuxt-link to="/">Back</nuxt-link></button>
      <div class="grid moviesTop">
        <Movie v-for="movie in moviesList" :movie_="movie" key="movie.id"></Movie>
      </div>
    </div>
</div>
</template>

<script>
import Movie from "@/components/Movie";


export default {
  name: "index",
  components : {Movie},
  data(){
    return{
      moviesList : [],
    }
  },
  async beforeMount() {

      await fetch('https://api.themoviedb.org/3/movie/top_rated?api_key=bed57bace403c25c78cbb5feeae4afd5&language=en-US&page=1').then(res=>{
        return res.json();
      }).then(data=>{
        console.log(data)
        this.moviesList = data.results
      })
  }
}
</script>

<style scoped>
.moviesTop{
  margin-top: 4rem;
}
.moviesTop_back_btn{
  margin-top: 1rem;
}
</style>
