<template>
  <div class="container">
   <button> <nuxt-link to='/'>Back</nuxt-link></button>
    <br>
    <div class="movies_wrapper">
      <div v-for="movie in moviesData" class="card">

        <div class="card-image">
          <div class="movie_frame">
            <iframe width="560" height="315" :src="'https://www.youtube.com/embed/'+movie.key" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div><!-- card image -->

        <div class="card-content">
          <span class="card-title">{{movie.name.replace('"','')}}</span>
        </div><!-- card content -->
      </div>
    </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'

export default {
  name: "SingleMovieId",
  computed : mapState(['singleMovie']),

  head(){
    return{
      title : this.$route.params.id,
      meta :[ {
        hid : 'description',
        name : 'description',
        content : 'best place in the world'
      } ]
    }
  },
  data(){
    return {
      moviesData : {},
      settings: {
        arrows: true,
        dots: true,
      },
      slickOptions: {
        slidesToShow: 3,
        arrows: false
      }

    }
  },
 async mounted() {
    this.addSingleMovieId();
      let url = `https://api.themoviedb.org/3/movie/624860/videos?api_key=bed57bace403c25c78cbb5feeae4afd5&language=en-US`;
   await fetch(url)
      .then((response)=>{
        return response.json();
      }).then(data =>{
      console.log(data)

    })
    },
  async beforeMount() {

    let url = ` https://api.themoviedb.org/3/movie/${this.$route.params.id}/videos?api_key=bed57bace403c25c78cbb5feeae4afd5&language=en-US`
    await fetch(url)
      .then((response)=>{
        return response.json();
      }).then(data =>{
        console.log(data)
        this.moviesData = data.results
      //console.log(this.moviesData)
    })

  },
  methods : {
    ...mapActions(['addSingleMovieId']),

  },

}
</script>

<style scoped>
.container{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1220px;
  overflow-x: hidden;
  margin: 5rem auto 0;
}
.movie_details{
  display: flex;
  width:20%
}

.VueCarousel-slide {
  position: relative;
  background: #42b983;
  color: #fff;
  font-family: Arial;
  font-size: 24px;
  text-align: center;
  min-height: 100px;
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.frame{
  background-color: white;
  width: fit-content;
}
iframe{
  z-index: 10;
}
.movies_wrapper{
  display : grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1rem;
}
.movies_wrapper .card{
  overflow: hidden;
  border-radius: 5px;
  border-bottom: 8px solid black ;
}
.card .card-title{
  font-size: 1.3rem;
  font-weight: bold;
}
@media screen and (max-width: 1000px){
  .movies_wrapper{
    display : grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 1rem;
    align-self: center;
  }
}
</style>

