<template>
  <div>hello from about</div>
</template>

<script>
export default {
 head(){
   return {
     title : "about the app",
     meta :[ {
       hid : 'description',
       name : 'description',
       content : 'best place in the world'
     } ]
   }
 }
}
</script>

<style scoped>

</style>
