<template>
  <div>
    <header class="flex" >
      <nav class="flex">
        <div class="container flex-bt">
          <div class="logo ">LOGO</div>
          <ul class="flex">
            <nuxt-link :tabindex="link.link_key" v-for="link in navLinks" :key="link.link_key" :to="link.linkTo.toLowerCase()">{{link.linkName}}</nuxt-link>
          </ul>
          <div class="login flex">
            <button>login</button>
          </div>
        </div>
      </nav>
      <h1 >Find Movies, TV shows and more</h1>
      <form  class="page_search">
        <input @keyup.prevent="handleSubmit($event)" v-model="searchText" class="search_box" type="text" name="" id="" placeholder="search for movie" >
        <button @click="handleList">clear</button>
      </form>
    </header>
    <div class="container">
      <h2 class="page_title">the best movies for this year</h2>
      <div class="movies_container" aria-label="movies">
        <Movie v-for="movie in movieSearchByName" v-bind:movie_="movie" :key="movie.id"/>
        <Movie v-if="listVisible" v-for="movie in moviesList" v-bind:movie_="movie" :key="movie.id"/>
   </div>
    </div>
  </div>
</template>

<script>
import Movie from '../components/Movie.vue';
import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'
import movies from "@/pages/movies";
export default {
  head(){
    return {
      title : "main page",
      meta :[ {
        hid : 'description',
        name : 'description',
        content : 'best place in the world'
      } ]
    }
  },
  computed : mapState(['moviesList','movieSearchByName']),
  components : {
    Movie
  },
  data () {
    return{
      movies : [],
      movieSearch : {},
      searchText : '',
      listVisible : true,
      navLinks  : [{linkName : "HOME",link_key : 1 ,linkTo : "/"},  {linkName :  "MOVIES",link_key : 4,linkTo : "MOVIES"}, {linkName :  "TV",link_key : 5 ,linkTo : "TV"},  {linkName :  "TOP",link_key : 7,linkTo : "TOP"} ],
    }
  },

  mounted() {
    this.getMoviesList();
    },
  updated(){
    //this.listVisible = true
  },
  methods : {
    ...mapActions(['getMoviesList','searchMovieByName']),
    async handleSubmit(e){
      e.preventDefault();
      this.listVisible = false
      console.log(this.listVisible)
     this.searchMovieByName(this.searchText)
    },
    handleList(){
      this.listVisible = true
      this.getMoviesList()
    }
  },
}
</script>
<style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.container{
  width: 1220px;
  margin: 0 auto;
}
.flex{
  display: flex;
}
.flex-bt{
  display: flex;
  justify-content: space-between;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 0.7rem;
}
button{
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.42rem 1rem;
}
button a {
  color: white;
  text-decoration: none;
}
header{
  background-color: #000;
  color : white;
  text-align: center;
  min-height: 20vh;
  height: 80%;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
}
header nav {
  justify-content: space-between;
}
header nav ul a{
  margin: 0 0.3rem;
  cursor: pointer;
  text-decoration: none;
  color: white;


}
header nav ul a:hover{
  color: orangered;
}
.movies_container{
  display : grid;
  grid-template-columns: repeat(3,2fr);
  grid-gap: 1rem;
  margin-top: 3rem;
}
MovieBlock {
  flex: 1;
  min-width: 240px;
  margin: 0px 10px 20px 10px;
  position: relative;
  max-width: 330px;
  box-shadow: 0px 3px 9px #09081b7a;
  max-height: 490px;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid #ffffff17;
}
.page_title{
  margin-top: 1rem;
  text-align : center;
  background: black;
  color: white;
  text-transform: capitalize;
  border-radius: 4px;
  padding: 0.2rem;
}
.page_search .search_box{
  width: 30%;
  padding: 0.3rem 0;
}
.page_search .search_btn{
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.42rem 1rem;
  cursor: pointer;
}

@media (min-width: 300px) and (max-width: 640px){
  .movies_container{
    display : grid;
    grid-template-columns: repeat(1,30%);
    align-self: center;
  }
}
</style>
